.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#ignore user uploaded files
source/static/data/

#personal database setup for development
database/ 

#personal file
source/config.personal.php
